.main {
    max-width: 880px;
    margin: auto;
    padding-top: 40px;
}

.main__profile {
    display: grid;
    grid-template-columns: 120px repeat(3, 1fr);
    grid-template-rows: 120px;
    grid-gap: 30px;
    padding-bottom: 50px;
}

.main__profile-image {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.main__content-paragraph {
    max-width: 450px;
    display: grid;
    grid-column: 2 / 4;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    grid-row-gap: 10px;
    line-height: normal;
}

.main__paragraph {
    max-width: 415px;
}

.main__paragraph_name {
    grid-column: 1 / 4;
    margin: 0;
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    padding-top: 22px;
}

.main__paragraph_job {
    grid-column: 1 / 5;
    grid-row: 2;
    margin: 0;
    font-size: 18px;
    padding-bottom: 21px;
}

.main__button {
    border: 2px inset;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 0;
    cursor: pointer;
}

.main__button:hover {
    opacity: 0.5;
}

.main__button_edit {
    width: 24px;
    height: 24px;
    align-self: end;
    margin-bottom: 7px;
    margin-left: 5px;
}

.main__button_add {
    width: 150px;
    height: 50px;
    align-self: end;
}

.main__gallery {
    max-width: 880px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 17px;
}

.main__gallery-card {
    position: relative;
    width: 282px;
    height: 361px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    overflow: hidden;
}

.main__gallery-img {
    width: 100%;
    height: 282px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main__gallery-content {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    margin: 20px auto;
}

.main__gallery-paragraph {
    max-width: 230px;
    height: 25px;
    font-family: "Inter-Black", sans-serif;
    font-size: 24px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main__gallery-paragraph_text_overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main__button_like {
    border: none;
    width: 25px;
    height: 19px;
    align-self: flex-end;
    background: url(../images/like.svg) center no-repeat;
}

.main__button:hover{
    opacity: 0.5;
}
  
.main__button_like_active {
    background-image: url(../images/like-active.svg);
}

.popup__button_trash {
    border: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    padding: 18px 15px 0 250px;
}
  
.popup__button_disabled {
    background-color: #c4c4c4;
    cursor: default;
}

.popup__image {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
  }
  
  .popup__image_large {
    max-width: 80%;
    max-height: 80%;
  }
  
  .imagen.activa {
    opacity: 0.3;
  }
  
  .popup__image-paragraph{
    color: white;
    padding-top: 10px;
    width: 291px;
    height: 12px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .popup__image_close {
    position: absolute;
    top: 20px;
    left: auto;
    font-size: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
  }
  
  .popup__image_close:hover {
    background: rgba(0, 0, 0, 0.5);
  } 
  
@media screen and (min-width: 320px) and (max-width: 584px) {
    .main__profile {
      max-width: 290px;
      grid-template-columns: 1fr;
      grid-template-rows: 120px repeat(2, 50px);
      justify-items: center;
      margin: auto;
      grid-row-gap: 30px;
      padding-bottom: 30px;
    }
  
    .main__content-paragraph {
      grid-column: 1 / 2;
      grid-row: 2;
      grid-template-rows: repeat(2, 20px);
    }
  
    .main__paragraph_name {
      font-size: 22px;
      padding: 0;
      line-height: normal;
    }
  
    .main__paragraph_job {
      padding: 0;
      font-size: 14px;
    }
  
    .main__button_edit {
      width: 22px;
      height: 22px;
      margin: 0 0 0 16px;
      align-self: center;
    }
  
    .main__button_add {
      width: 100%;
      grid-row: 3;
    }
  
    .main__gallery {
      max-width: 290px;
      margin: auto;
      gap: 20px;
      justify-content: center;
    }
}
  
@media screen and (min-width: 585px) and (max-width: 880px) {
    .main__profile {
        max-width: 700px;
        margin: auto;
        padding-bottom: 40px;
    }

    .main__paragraph_name {
        font-size: 30px;
        line-height: normal;
        padding-top: 0;
    }

    .main__paragraph_job {
        font-size: 14px;
    }

    .main__button_edit {
        width: 22px;
        height: 22px;
        margin: 0 0 0 16px;
        align-self: center;
    }

    .main__button_add {
        width: 100%;
    }

    .main__gallery {
        max-width: 600px;
        margin: auto;
        gap: 20px;
    }
}  